uvicorn[standard]
fastapi[standard]
httpx
pytest
pytest-asyncio
pytest-mock
pydantic
pydantic-settings
mypy
sqlalchemy
alembic
python-dotenv
psycopg2-binary
mypy
aiosqlite
rich
asgi-correlation-id
python-json-logger
loguru
logtail-python
python-jose
python-multipart
bcrypt
asyncpg
logtail-python
